/* BASE STYLES FOR PUZZLE FUNCTIONALITY */
.media {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  padding-inline: 5rem;
}
[data-puzzle-goal],
[data-puzzle-piece] {
  box-sizing: content-box;
  pointer-events: all;
}

[data-puzzle-goal] {
  border: 3px dotted grey;
  /* default size */
  height: 100px;
  width: 100px;
}

[data-puzzle-goal].puzzle-goal-hover {
  border: 3px solid blue;
}

.puzzle-hide {
  opacity: 0;
}

.puzzle-draggable {
  cursor: move;
}

.puzzle-placed {
  user-select: none;
  cursor: default;
}

.puzzle-complete {
  transition: transform 0.5s cubic-bezier(0.93, -0.2, 0.59, 1.27);
  border: 3px dotted transparent;
}

/* SPECIFIC STYLES FOR ROCKET PUZZLE */
.media.rocket-puzzle {
  display: grid;
  grid-template-columns: 75px 75px 213px 75px 75px;
  pointer-events: none;
}

[data-puzzle-goal='booster'] {
  width: 55px;
  height: 200px;
  z-index: 1;
}

[data-puzzle-goal='rocket'] {
  width: 75px;
  height: 250px;
}

[data-puzzle-goal='capsule'] {
  width: 75px;
  height: 100px;
  z-index: 1;
}
/* on-complete animations */
#puzzle-goal-booster1.puzzle-complete {
  transform: translateX(38px);
}

#puzzle-goal-booster2.puzzle-complete {
  transform: translateX(-38px);
}

#puzzle-goal-capsule.puzzle-complete {
  transform: translateY(34px);
}

#puzzle-goal-rocket.puzzle-complete {
  transform: translateY(-5px);
}

/* SPACESUIT PUZZLE */
.media.suit-puzzle {
  display: grid;
  grid-template-columns: 140px 296px 140px;
  pointer-events: none;
}

.grid-col {
  display: grid;
  grid-template-rows: repeat(3, 100px);
  place-items: center;
  gap: 1rem;
}

.puzzle-suit-bg {
  background-image: url('../img/you-suit.png');
  background-position: center;
  background-repeat: no-repeat;
}

.puzzle-suit-bg:has(> .puzzle-complete) {
  background-image: url('../img/suit-shadow.png');
}

[data-puzzle-goal='helmet'] {
  width: 140px;
  height: 120px;
  z-index: 1;
}

[data-puzzle-goal='body'] {
  width: 140px;
  height: 140px;
  z-index: 1;
}

[data-puzzle-goal='boots'] {
  width: 140px;
  height: 50px;
}

[data-puzzle-goal='glove'] {
  width: 50px;
  height: 50px;
  z-index: 2;
}

[data-puzzle-goal='pack'] {
  width: 80px;
  height: 150px;
  margin-top: 60px;
}

#puzzle-goal-glove-1 {
  margin-top: 220px;
  z-index: 0;
}

/* on-complete animations */
#puzzle-goal-helmet.puzzle-complete {
  transform: translateY(40px);
}

#puzzle-goal-boots.puzzle-complete {
  transform: translateY(-30px);
}

#puzzle-goal-glove-1.puzzle-complete {
  transform: translate(63px, -15px);
}

#puzzle-goal-glove-2.puzzle-complete {
  transform: translate(-73px, -15px);
}

#puzzle-goal-body.puzzle-complete {
  z-index: 1;
}

#puzzle-goal-pack.puzzle-complete {
  transform: translate(-90px, 40px);
  opacity: 0.5;
}
