* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(244, 15%, 19%);
  min-height: 100vh;
  padding: 1rem;
}

main {
  width: 100%;
  padding-top: 4rem;
}

.container {
  width: min(400px, 100%);
  margin-inline: auto;
}

button {
  flex-basis: 100%;
  font: inherit;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 100ms ease;
}

button[data-action='operator'] {
  /* background-color: hsl(27, 90%, 60%); */
  background-color: hsl(27, 98%, 67%);
  color: white;
}

button[data-action='calculate'] {
  /* background-color: hsl(118, 98%, 25%); */
  background-color: hsl(117, 27%, 50%);
  color: white;
}

button[data-action='clear'] {
  /* background-color: hsl(1, 100%, 50%); */
  background-color: hsl(1, 90%, 72%);
  grid-column: 1 / 2;
  color: white;
}

.cell:has(button[data-action='clear']),
.cell:has(button[data-action='calculate']) {
  grid-column: span 2;
}

button:hover {
  opacity: 0.5;
}

.btn-pressed {
  transform: scale(0.9);
}

.cell {
  display: flex;
  border-radius: 8px;
}

.row {
  display: flex;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  gap: 0.5rem;
  font-size: 2rem;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.3rem;
  grid-column: span 4;
  grid-row: span 2;
  padding: 1rem 0.75em;
  font-weight: bold;
  background-color: hsl(244, 15%, 19%);
  color: white;
}

#sum-display {
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

#input-display {
  display: block;
  font-size: 2.5rem;
}
